body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0;
}
a{
    text-decoration: none;
}
.fill-height{
    height: 100%;
}
/*Notification*/
.notify{
    background-color: #1e1e1e;
    height: 59px;
}
.notify .title-notify{
    color: #fff;
    padding-top: 23px;
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.close{
    top: 21px;
    right: 0;
}
/*header*/
header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #e1e0dc;
    height: 96px;
    padding-top: 22px;
}
header .name-brand{
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
/*banner1*/
.banner1{
    background-image: url('img/banner1.jpg');
    background-position: center center;
    background-size: cover;
    height: 967px;
    width: 100%;
}
.banner1 .divider{
    width: 89px;
    height: 3px;
    margin-right: 27px;
    background-color: #1e1e1e;
}
.banner1 span{
    font-weight: light;
    font-size: 14px;
    color: #878787;
}
.banner1 h6{
    font-size: 70px;
    font-weight:300;
    margin: 41px 0 35px 0;
    line-height: 0.8 !important;
}
.banner1 p{
    font-size: 40px;
    font-weight:300;
    margin-bottom: 60px;
    line-height: 1.2 ;
}
.banner1 .btn-shop-now{
    width: 173px;
    height: 52px;
    border: none;
    background-color: #ff4949;
    color: #fff;
}
/*features*/
.features .features-product{
    padding-top: 83px;
}
.features .features-product .model7 img{
   width: 100%
}
.features .features-product .model7{
    margin: -151px 77px 0 0;
}
.features .features-product .model7 p{
    font-size: 40px;
    font-weight: 500;
    margin: 31px 0 71px 0;
}
.features .album-product .product-item{
    padding-right:40px;
}
.features .album-product .name-product{
    font-size: 14px;
    margin: 24px 0 16px 0 !important;
}
.features .album-product .price{
    font-size: 14px; 
    color: #a6a6a6;
}
/*banner-bg*/
.banner-bg{
    height: 1000px;
    background-image: url('img/banner2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg .title{
    width: 563px;
    height: 195px;
    background-color: #fff;
}
.banner-bg .title h6{
    font-size: 40px;
    font-weight:300;
    margin-bottom: 25px;
    line-height: 0.8 !important;
}
.banner-bg .title p{
    color: #878787;
    font-size: 12px;
}
.banner-bg .divider{
    width: 56px;
    height:1px;
    margin-right: 16px;
    background-color: #000;
}
/*album-model*/
.album-model img:first-child{
    width: 100%;
    height: 100%;
}
.album-model img{
    width: 100%;
}
/*staff-pick*/
.staff-pick .col-3{
    padding: 0 40px 98px 0 !important;
}
.staff-pick{
    background-image: url('img/bg-1.png');
    background-size: cover;
    height: 1505px;
    background-position: center center;
    padding-top: 75px;
}
.staff-pick h5{
    padding-bottom: 80px;
}
/*work-it-out*/
.work-it-out .free-shipping{
    border: 10px solid rgb(34, 34, 34);
    height: 300px;
    width: 548px;
}
/*album-instagram*/
.album-instagram{
    height: auto;
    width: 100%;
    background-image: url('img/banner3.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
/*footer*/
footer{
    padding-top: 70px;
    background-color: #161616;
}
footer .col{
    padding-right: 160px;
}
footer .divider{
    margin: 20px 0 30px 0;
    height: 1px;
    width: 55px;
    background-color: #fff;
}
footer .title-list{
    font-size: 14px;
    text-transform: uppercase;
}
footer .nav a{
    margin-bottom: 20px;
}
footer .registion{
    margin-bottom: 15px;
}
footer .social{
    margin-top: 30px;
}
footer .social a{
    margin-right: 15px;
    padding: 15px;
    background-color: #222222;
    border-radius: 50%;
}
footer .footer-bottom{
    padding: 27px 0;
}
footer .author{
    font-size: 12px;
}