body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0;
}
a{
    text-decoration: none;
}
/*Notification*/
.notify{
    background-color: #1e1e1e;
    height: 59px;
}
.notify .title-notify{
    padding: 23px 0 28px;
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 18px;
}
.close{
    top: 21px;
    right: 0;
    bottom: 26px
}
/*header*/
header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
header .name-brand{
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.title-click{
    top: 30%;
}
.model7{
    margin: -200px 0px 20px;
}
.model7 img{
   width: 100%
}
/*banner1*/
.banner1 img{
    width: 100%;
}
/*album-product*/
.album-product img{
    width: 100%;
}
.album-product .col-3{
    padding: 0 40px 98px 0 !important;
}
.album-product{
    background-image: url('img/bg-1.png');
    background-size: cover;
    height: 1505px;
    background-position: center center;
    padding-top: 75px;
}
.album-product h5{
    padding-bottom: 80px;
}
/*album-model*/
.album-model img:first-child{
    width: 100%;
    height: 100%;
}
.album-model img{
    width: 100%;
}
/*banner-bg*/
.banner-bg{
    height: 1000px;
    background-image: url('img/banner2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg .title{
    width:500px;
}
/*work-it-out*/
.work-it-out .free-shipping{
    border: 10px solid rgb(34, 34, 34);
    height: 300px;
    width: 548px;
}
/*album-instagram*/
.album-instagram{
    height: auto;
    width: 100%;
    background-image: url('img/banner3.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
/*footer*/
footer{
    padding-top: 70px;
    background-color: #161616;
}
footer .col{
    padding-right: 160px;
}
footer .divider{
    margin: 20px 0 30px 0;
    height: 1px;
    width: 55px;
    background-color: #fff;
}
footer .title-list{
    font-size: 14px;
    text-transform: uppercase;
}
footer .nav a{
    margin-bottom: 20px;
}
footer .registion{
    margin-bottom: 15px;
}
footer .social{
    margin-top: 30px;
}
footer .social a{
    margin-right: 15px;
    padding: 15px;
    background-color: #222222;
    border-radius: 50%;
}
footer .footer-bottom{
    padding: 27px 0;
}
footer .author{
    font-size: 12px;
}